<h2>Registrar empleado:</h2>

<%= form_for(@employee, url: create_employees_path) do |f| %>

  <div class="field">
    <%= f.label 'Correo' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label 'Nombre de usuario' %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Rol" %><br />
    <%= f.select :role, collection: Employee.roles.keys.to_a %>
  </div>



  <div class="field">
    <%= f.label 'Contraseña' %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label 'Confirmación de contraseña' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
