<div class="employee-information">
  <div class="container employee-info-wrapper">
    <div class="employee-image-container">
      <%=image_tag 'https://www.expertsglobal.com/wp-content/uploads/2013/12/no-profile-img.png', class: 'profile-img' %>
    </div>
    <div class="employee-summary-container">
      <h2 class="color-blanco"><%=role_spanish_name(@employee.role)%> </h4>
      <h5 class="color-blanco">Nombre: <span class="gris-claro"><%=@employee.username%></span> </h5>
      <h5 class="color-blanco">Telefono: <span class="gris-claro"><%=@employee.phone%></span> </h5>
      <h5 class="color-blanco">Correo: <span class="gris-claro"><%=@employee.email%></span> </h5>
    </div>
  </div>
</div>

<div class="container">
  <%if Employee.find(params[:id]).admin? && current_employee.admin?%>
    <%= render 'employees/admin_profile'%>
  <%elsif Employee.find(params[:id]).account_manager? && (current_employee.id.to_s == params[:id] || current_employee.admin?)%>
    <%= render 'employees/account_manager_profile'%>
  <%elsif Employee.find(params[:id]).technician? && (current_employee.id.to_s == params[:id] || current_employee.account_manager? || current_employee.admin?)%>
    <%= render 'employees/technician_profile'%>
  <%elsif Employee.find(params[:id]).engineer? && (current_employee.id.to_s == params[:id] || current_employee.account_manager? || current_employee.admin?)%>
    <%= render 'employees/engineer_profile'%>
  <%elsif Employee.find(params[:id]).seller? && (current_employee.id.to_s == params[:id] || current_employee.admin?)%>
    <%= render 'employees/seller_profile'%>
  <%else%>
    nada pana
  <%end%>
</div>
