<div class="container">

  <h3 class="section-title azul-oscuro"><%=@visit_request.concept%></h3>
  <h5 class="azul-oscuro"> Cliente: <span class="gris-oscuro"><%=@visit_request.headquarter.customer.username%></span> </h5>
  <h5 class="azul-oscuro"> Sede: <span class="gris-oscuro"><%=@visit_request.headquarter.city%>, <%=@visit_request.headquarter.direction%></span> </h5>

  <div class="table-container">
    <table class="table table-bordered">
      <thead>
        <tr class="azul-oscuro">
          <th scope="col">Tipo</th>
          <th scope="col">Placa</th>
          <th scope="col">Marca </th>
          <th scope="col">Modelo</th>
          <th scope="col">Potencia</th>
        </tr>
      </thead>
      <tbody>
        <%@visit_request.power_plants.each do |power_plant|%>
          <tr>
            <td><%=type_of_equipment(power_plant)%></td>
            <td><%=power_plant.plate%></td>
            <td><%=power_plant.trademark%></td>
            <td><%=power_plant.model%></td>
            <td><%=power_plant.capacity%></td>
          </tr>
        <%end%>
        <%@visit_request.ups.each do |ups|%>
          <tr>
            <td><%=type_of_equipment(ups)%></td>
            <td><%=ups.plate%></td>
            <td><%=ups.trademark%></td>
            <td><%=ups.model%></td>
            <td><%=ups.power%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>

  <div class="visit-form-validator-wrapper">
    <div class="visit-form-container">
      <h4 class = "azul-oscuro">Programar visita:</h4>

      <%if @visit.errors.any?%>
        <div class="form-error-container">
          <%@visit.errors.each do |attribute, message|%>
            <p><%=message%></p>
          <%end%>
        </div>
      <%end%>

      <%= form_for @visit, url: customer_headquarter_visit_request_visits_path(params[:customer_id],params[:headquarter_id],params[:visit_request_id]) do |f| %>

          <%= f.label 'Fecha de la visita', class: 'azul-oscuro' %><br>
          <%=f.date_field :visit_date, value: Date.today, class: 'registration-input small-input'%>

          <div>
            <%= f.label 'Horario de la visita', class: 'azul-oscuro' %><br>
            <%=f.time_field :visit_start_time, value: Time.now.strftime('%H:%M'), class: 'registration-input extra-small-input'%> -

            <%=f.time_field :visit_end_time, value: (Time.now + 2.hour).strftime('%H:%M'), class: 'registration-input extra-small-input'%>
          </div>

          <%= f.label 'Selecciona los técnicos', class: 'azul-oscuro' %><br>
          <%= f.collection_check_boxes :employee_ids, Employee.where(role: [2,1]), :id, :username  do |c| %>
            <%= c.label do %>
              <%= c.check_box %>
              <%= c.object.username %>
            <% end %> <br>
          <% end %>

          <div class="actions">
            <%= f.submit "Crear cita", class: "sign-up-button" %>
          </div>

      <% end %>
    </div>

    <div class="visit-validator-container">

      <h4 class = "azul-oscuro">Verificar horarios:</h4>

      <%= form_tag employee_schedule_path, method: :get, remote: true  do %>
        <div class="form-group">
          <%= select_tag :employee_id, options_from_collection_for_select(Employee.where(role: [2,1]), "id", "username"),  class: 'registration-input small-input' %>
          <%= submit_tag "buscar", class: 'search-button'%>
        </div>
      <% end %>

      <div class="employee-schedule-validator">
        <%= render 'employees/employee_schedule_table_validator'%>
      </div>


    </div>



  </div>
</div>

<script>
  var current_week = 0
  $('.previous-week').on('click', function () {
    console.log("Semana anterior")
    if (current_week > 0) {
      $('.week-'+current_week).css("display", "none");
      current_week = current_week - 1;
      $('.week-'+current_week).css("display", "block");
    };
  })

  $('.next-week').on('click', function () {
    console.log("Siguiente semana")
    if (current_week < 7) {
      $('.week-'+current_week).css("display", "none");
      current_week = current_week + 1;
      $('.week-'+current_week).css("display", "block");
    };
  })

  // $('#employee_id').on('change', function (e) {
  //   console.log("Cambio de empleado")
  //   // $('form').submit()
  //   $('form').trigger('submit.rails');
  //   // e.preventDefault();
  //   // form = document.querySelector('form');
  //   // Rails.fire(form, 'submit');
  //   // form = document.querySelector('form');
  //   // form.dispatchEvent(new Event('submit', {bubbles: true})); // you can specify more options in `Event()` for reliability across different browsers.
  // })
</script>
