<div class="container customer-profile-container">
  <div class="customer-info-panel">
    <div class="customer-info-2">
      <div>
        <h2 class="azul-oscuro center"><strong><%=@power_plant.trademark%> <%=@power_plant.model%></strong> </h2>
        <%=image_tag 'icons/power_plant.png', class: 'customer-profile-img'%>
      </div>
      <div class="customer-info">
        <h6><span class="azul-oscuro"> <strong>Propietario:</strong></span> <%=@power_plant.customer.username%></h6>
        <h6><span class="azul-oscuro"> <strong>Sede:</strong></span> <%=@power_plant.headquarter.city%>, <%=@power_plant.headquarter.direction%></h6>
        <h6><span class="azul-oscuro"> <strong>Administrador:</strong></span> <%=@power_plant.headquarter.admin%></h6>
        <h6><span class="azul-oscuro"> <strong>Teléfono administrador:</strong></span> <%=@power_plant.headquarter.admin_phone%></h6>

        <h5 class="azul-oscuro section-title"><strong>Detalles del equipo:</strong></h5>
        <h6><span class="azul-oscuro"> <strong>Horas de funcionamiento:</strong></span> 500 horas (11/09/18)</h6>
        <h6><span class="azul-oscuro"> <strong>Placa:</strong></span> <%=@power_plant.plate%></h6>
        <h6><span class="azul-oscuro"> <strong>Potencia:</strong></span> <%=@power_plant.capacity%> KVA</h6>
        <h6><span class="azul-oscuro"> <strong>Serial:</strong></span> <%=@power_plant.serial%></h6> <br>

        <h6><span class="azul-oscuro"> <strong>Marca motor:</strong></span> <%=@power_plant.engine_trademark%></h6>
        <h6><span class="azul-oscuro"> <strong>Modelo motor:</strong></span> <%=@power_plant.engine_model%></h6>
        <h6><span class="azul-oscuro"> <strong>Serial motor:</strong></span> <%=@power_plant.engine_serial%></h6> <br>

        <h6><span class="azul-oscuro"> <strong>Marca generador:</strong></span> <%=@power_plant.generator_trademark%></h6>
        <h6><span class="azul-oscuro"> <strong>Modelo generador:</strong></span> <%=@power_plant.generator_model%></h6>
        <h6><span class="azul-oscuro"> <strong>Serial generador:</strong></span> <%=@power_plant.generator_serial%></h6>
      </div>
    </div>
  </div>


  <div class="container customer-main-profile-contain">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Hoja de vida</a>
        <a class="nav-item nav-link" id="nav-logs-tab" data-toggle="tab" href="#nav-logs" role="tab" aria-controls="nav-home" aria-selected="true">Historicos</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Especificaciones</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">historial de visitas</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-edit" role="tab" aria-controls="nav-edit" aria-selected="false">Editar información</a>

      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <h4 class="section-title azul-oscuro"> Últimos mantenimientos preventivos</h4>

        <div class="table-container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="table-column-title azul-oscuro" scope="col">Fecha</th>
                <th class="table-column-title azul-oscuro" scope="col">Descripción</th>
                <th class="table-column-title azul-oscuro" scope="col">Horas del equipo</th>
                <th class="table-column-title azul-oscuro" scope="col">Detalles</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">11/11/11</th>
                <td>Se le hizo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem reprehenderit, eos commodi aut praesentium quo, nostrum atqus.</td>
                <td>10.432 horas</td>
                <td>Ver</td>
              </tr>
            </tbody>
          </table>
        </div>


        <h4 class="section-title azul-oscuro"> Últimos cambios de insumos (Mantenimiento tipo 2)</h4>
        <div class="table-container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="table-column-title azul-oscuro" scope="col">Insumo</th>
                <th class="table-column-title azul-oscuro" scope="col">Última fecha de cambio</th>
                <th class="table-column-title azul-oscuro" scope="col">Referencia</th>
                <th class="table-column-title azul-oscuro" scope="col">Cantidad</th>
                <th class="table-column-title azul-oscuro" scope="col">Horas de trabajo</th>
                <th class="table-column-title azul-oscuro" scope="col">Comprobante de visita</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Aceite</th>
                <td>7/11/17</td>
                <td>20w-50</td>
                <td>10 galones</td>
                <td>300 horas</td>
                <td>Ver</td>
              </tr>
              <tr>
                <th scope="row">Filtro aceite</th>
                <td>30/1/18</td>
                <td>js9292</td>
                <td>1 unidad</td>
                <td>100 horas</td>
                <td>Ver</td>
              </tr>
              <tr>
                <th scope="row">Filtro gasolina</th>
                <td>30/1/18</td>
                <td>js9292</td>
                <td>1 unidad</td>
                <td>100 horas</td>
                <td>Ver</td>
              </tr>
              <tr>
                <th scope="row">Filtro aire</th>
                <td>30/1/18</td>
                <td>js9292</td>
                <td>1 unidad</td>
                <td>100 horas</td>
                <td>Ver</td>
              </tr>
              <tr>
                <th scope="row">Filtro agua</th>
                <td>30/1/18</td>
                <td>js9292</td>
                <td>1 unidad</td>
                <td>100 horas</td>
                <td>Ver</td>
              </tr>
              <tr>
                <th scope="row">Batería</th>
                <td>22/09/16</td>
                <td>Acme 12029</td>
                <td>2 unidad</td>
                <td>550 horas</td>
                <td>Ver</td>
              </tr>
              <tr>
                <th scope="row">Combustible</th>
                <td>13/04/17</td>
                <td>Corriente</td>
                <td>20 galones</td>
                <td>430 horas</td>
                <td>Ver</td>
              </tr>
            </tbody>
          </table>
        </div>

        <h4 class="section-title azul-oscuro"> Últimos mantenimientos correctivos</h4>

        <div class="table-container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="table-column-title azul-oscuro" scope="col">Fecha</th>
                <th class="table-column-title azul-oscuro" scope="col">Descripción</th>
                <th class="table-column-title azul-oscuro" scope="col">Horas del equipo</th>
                <th class="table-column-title azul-oscuro" scope="col">Detalles</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">11/11/11</th>
                <td>Se le hizo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem reprehenderit, eos commodi aut praesentium quo, nostrum atqus.</td>
                <td>10.432 horas</td>
                <td>Ver</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="tab-pane fade" id="nav-logs" role="tabpanel" aria-labelledby="nav-logs-tab">

        <h4 class="section-title azul-oscuro"> Historial gasolina</h4>
        <div class="table-container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="azul-oscuro" scope="col">Fecha</th>
                <th class="azul-oscuro" scope="col">Referencia</th>
                <th class="azul-oscuro" scope="col">Cantidad</th>
                <th class="azul-oscuro" scope="col">Horas de uso</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
        </div>

        <h4 class="section-title azul-oscuro"> Historial cambio de aceite</h4>
        <div class="table-container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="azul-oscuro" scope="col">Fecha</th>
                <th class="azul-oscuro" scope="col">Referencia</th>
                <th class="azul-oscuro" scope="col">Cantidad</th>
                <th class="azul-oscuro" scope="col">Horas de uso</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
        </div>

        <h4 class="section-title azul-oscuro"> Historial cambio de filtro de aceite</h4>
        <div class="table-container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="azul-oscuro" scope="col">Fecha</th>
                <th class="azul-oscuro" scope="col">Referencia</th>
                <th class="azul-oscuro" scope="col">Cantidad</th>
                <th class="azul-oscuro" scope="col">Horas de uso</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
        </div>

        <h4 class="section-title azul-oscuro"> Historial cambio de filtro de aire</h4>
        <div class="table-container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="azul-oscuro" scope="col">Fecha</th>
                <th class="azul-oscuro" scope="col">Referencia</th>
                <th class="azul-oscuro" scope="col">Cantidad</th>
                <th class="azul-oscuro" scope="col">Horas de uso</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
        </div>

        <h4 class="section-title azul-oscuro"> Historial cambio de filtro de gasolina</h4>
        <div class="table-container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="azul-oscuro" scope="col">Fecha</th>
                <th class="azul-oscuro" scope="col">Referencia</th>
                <th class="azul-oscuro" scope="col">Cantidad</th>
                <th class="azul-oscuro" scope="col">Horas de uso</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
        </div>

        <h4 class="section-title azul-oscuro"> Historial cambio de filtro de agua</h4>
        <div class="table-container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="azul-oscuro" scope="col">Fecha</th>
                <th class="azul-oscuro" scope="col">Referencia</th>
                <th class="azul-oscuro" scope="col">Cantidad</th>
                <th class="azul-oscuro" scope="col">Horas de uso</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>

      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="table-container">
          <table class="table table-bordered">
            <thead>
              <tr class="azul-oscuro">
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Potencia (KVA)</th>
                <th scope="col">Capacidad tanque de combustible</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Caterpilla</td>
                <td>JS234</td>
                <td>200 KVA</td>
                <td>30 L</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered">
            <thead>
              <tr class="azul-oscuro table-column-title">
                <th colspan="5">Motor y generador</th>
              </tr>
              <tr class="azul-oscuro">
                <th scope="col">Marca motor</th>
                <th scope="col">Modelo motor</th>
                <th scope="col">Marca generador</th>
                <th scope="col">Modelo generador</th>
                <th scope="col">Potencia generador</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cummis</td>
                <td>JW200</td>
                <td>Cummis</td>
                <td>KM900</td>
                <td>200 KVA</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered">
            <thead>
              <tr class="azul-oscuro table-column-title">
                <th colspan="5">Tablero de control</th>
              </tr>
              <tr class="azul-oscuro">
                <th scope="col">Marca</th>
                <th scope="col">Modelo </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Apple</td>
                <td>S-324</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered">
            <thead>
              <tr class="azul-oscuro table-column-title">
                <th colspan="5">Aceite</th>
              </tr>
              <tr class="azul-oscuro">
                <th scope="col">Filtro 1</th>
                <th scope="col">Filtro 2</th>
                <th scope="col">Filtro 3</th>
                <th scope="col">Tipo de aceite</th>
                <th scope="col">Cantidad de aceite</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>AWS200</td>
                <td>------</td>
                <td>------</td>
                <td>SAE 20W-50</td>
                <td>10 L</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered">
            <thead>
              <tr class="azul-oscuro table-column-title">
                <th colspan="5">Otros filtros</th>
              </tr>
              <tr class="azul-oscuro">
                <th scope="col">Combustible 1</th>
                <th scope="col">Combustible 2</th>
                <th scope="col">Combustible 3</th>
                <th scope="col">Aire 1</th>
                <th scope="col">Aire 2</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>JM200</td>
                <td>JM200</td>
                <td>------</td>
                <td>TY8700</td>
                <td>------</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="table-container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="table-column-title azul-oscuro" scope="col">Fecha</th>
                <th class="table-column-title azul-oscuro" scope="col">Descripción</th>
                <th class="table-column-title azul-oscuro" scope="col">Horas del equipo</th>
                <th class="table-column-title azul-oscuro" scope="col">Detalles</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">11/11/11</th>
                <td>Se le hizo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem reprehenderit, eos commodi aut praesentium quo, nostrum atqus.</td>
                <td>10.432 horas</td>
                <td>Ver</td>
              </tr>
              <tr>
                <th scope="row">11/11/11</th>
                <td>Se le hizo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem reprehenderit, eos commodi aut praesentium quo, nostrum atqus.</td>
                <td>10.432 horas</td>
                <td>Ver</td>
              </tr>
              <tr>
                <th scope="row">11/11/11</th>
                <td>Se le hizo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem reprehenderit, eos commodi aut praesentium quo, nostrum atqus.</td>
                <td>10.432 horas</td>
                <td>Ver</td>
              </tr>
              <tr>
                <th scope="row">11/11/11</th>
                <td>Se le hizo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem reprehenderit, eos commodi aut praesentium quo, nostrum atqus.</td>
                <td>10.432 horas</td>
                <td>Ver</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="tab-pane fade" id="nav-edit" role="tabpanel" aria-labelledby="nav-contact-tab">
        <h4 class="azul-oscuro section-title"><strong>Editar información</strong></h4>
        <%=form_for @power_plant, url: customer_power_plant_path(@power_plant.customer.id, @power_plant.id),method:'put', remote:true do |f|%>

          <%if @power_plant.errors.any?%>
            <div class="form-error-container">
              <%@power_plant.errors.each do |attribute, message|%>
                <p><%=message%></p>
              <%end%>
            </div>
          <%end%>

          <div class="edit-customer-section">
            <div class="field edit-group">
              <%=f.label 'Sede*'%>
              <%= f.select( :headquarter_id, headquarters_array(@power_plant.customer), {include_blank: "Seleccione la sedes"}, {class:'registration-input middle-input'}) %> <br>

              <%= f.label :plate, "Placa"%>
              <%= f.text_field :plate, autofocus: true, placeholder:"Placa del la planta", class:'registration-input small-input' %> <br>

              <%= f.label :trademark, "Marca*"%>
              <%= f.text_field :trademark, autofocus: true, placeholder:"Marca", class:'registration-input small-input' %> <br>

              <%= f.label :model, "Modelo*"%>
              <%= f.text_field :model, autofocus: true, placeholder:"Modelo", class:'registration-input small-input' %> <br>

              <%= f.label :seria, "Serial"%>
              <%= f.text_field :serial, autofocus: true, placeholder:"Serial", class:'registration-input small-input' %> <br>

              <%= f.label :capacity, "Potencia (KVA)*"%>
              <%= f.text_field :capacity, autofocus: true, placeholder:"Potencia", class:'registration-input small-input' %> <br>

              <%= f.label :fuel_tank_capacity, "Volumen tanque (L)"%>
              <%= f.number_field :fuel_tank_capacity, autofocus: true, placeholder:"Capacidad del tanque de combustible", class:'registration-input small-input' %> <br>

              <%= f.label :engine_trademark, "Marca motor"%>
              <%= f.text_field :engine_trademark, autofocus: true, placeholder:"Marca del motor", class:'registration-input small-input' %> <br>

              <%= f.label :engine_model, "Modelo del motor"%>
              <%= f.text_field :engine_model, autofocus: true, placeholder:"Modelo del motor", class:'registration-input small-input' %> <br>

              <%= f.label :engine_serial, "Serial motor"%>
              <%= f.text_field :engine_serial, autofocus: true, placeholder:"Serial", class:'registration-input small-input' %> <br>

              <%= f.label :generator_trademark, "Marca generador"%>
              <%= f.text_field :generator_trademark, autofocus: true, placeholder:"Marca del generador", class:'registration-input small-input' %> <br>

              <%= f.label :generator_model, "Modelo del generador"%>
              <%= f.text_field :generator_model, autofocus: true, placeholder:"Modelo del generador", class:'registration-input small-input' %> <br>

              <%= f.label :generator_serial, "Serial generador"%>
              <%= f.text_field :generator_serial, autofocus: true, placeholder:"Serial del generador", class:'registration-input small-input' %> <br>

              <%= f.label :control_panel_trademark, "Marca tablero"%>
              <%= f.text_field :control_panel_trademark, autofocus: true, placeholder:"Marca tablero de control", class:'registration-input small-input' %> <br>

              <%= f.label :control_panel_model, "Modelo tablero"%>
              <%= f.text_field :control_panel_model, autofocus: true, placeholder:"Modelo tablero de control", class:'registration-input small-input' %> <br>

              <%= f.submit "Editar planta", class: "sign-up-button" %>
            </div>
          </div>


        <%end%>
      </div>
    </div>
  </div>
</div>
