<div class="modal fade" id="editHeadquarterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title azul-oscuro" id="exampleModalLabel">Editar sede</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%=form_for @headquarter, url: customer_headquarter_path(@customer), method: 'put', remote:true do |f|%>
        <div class="modal-body">

          <%if @headquarter.errors.any?%>
            <div class="form-error-container">
              <%@headquarter.errors.each do |attribute, message|%>
                <p><%=message%></p>
              <%end%>
            </div>
          <%end%>

          <div class="modal-new-form">
            <%= f.label :city, "Ciudad*"%>
            <%= f.text_field :city, autofocus: true, placeholder:"Ciudad", class:'registration-input small-input' %> <br>

            <%= f.label :direction, "Dirección*"%>
            <%= f.text_field :direction, autofocus: true, placeholder:"Dirección", class:'registration-input small-input' %> <br>

            <%= f.label :phone, "Teléfono sede*"%>
            <%= f.text_field :phone, autofocus: true, placeholder:"Teléfono", class:'registration-input small-input' %> <br>

            <%= f.label :code, "Código"%>
            <%= f.text_field :code, autofocus: true, placeholder:"Código de identificación", class:'registration-input small-input' %> <br>

            <%= f.label :admin, "Nombre administrador"%>
            <%= f.text_field :admin, autofocus: true, placeholder:"Administrador", class:'registration-input small-input' %> <br>

            <%= f.label :admin_celphone, "Celular administrador"%>
            <%= f.text_field :admin_phone, autofocus: true, placeholder:"Celular", class:'registration-input small-input' %> <br>

            <%= f.label :admin_email, "Email administrador"%>
            <%= f.text_field :admin_email, autofocus: true, placeholder:"Email", class:'registration-input small-input' %> <br>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <%= f.submit "Guardar sede", class: "sign-up-button" %>
        </div>
      <%end%>
    </div>
  </div>
</div>
