<div class="container">



  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Clientes</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Plantas</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">UPSs</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

      <h5 class="azul-oscuro section-title">Importar clientes </h5>
      <%= form_tag import_customers_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import" %>
      <% end %>

      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <h5 class="azul-oscuro section-title">Clientes existentes: </h5>
      <%= form_tag(search_customers_path, remote: true) do %>
        <div class="search-form-container">
          <%= text_field_tag( :concept, nil, class:'middle-input registration-input', placeholder: 'Nombre de la empresa' )%>
          <%= submit_tag 'Buscar', class: 'search-button'  %>
        </div>
      <% end %>

      <div class="customer_table_container">
        <%=render 'customers/customers_table'%>
      </div>
    </div>

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <h5 class="azul-oscuro section-title">Plantas por clientes: </h5>

      <%= form_tag(search_power_plants_path, remote: true) do %>
        <div class="search-form-container">
          <%= text_field_tag( :concept, nil, class:'middle-input registration-input', placeholder: 'Información de la planta' )%>
          <%= submit_tag 'Buscar', class: 'search-button'  %>
        </div>
      <% end %>

      <div class="customers_with_power_plants_table_container">
        <%=render 'customers/customers_with_power_plants_table'%>
      </div>
    </div>

    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <h5 class="azul-oscuro section-title">UPSs por clientes: </h5>

      <%= form_tag(search_ups_path, remote: true) do %>
        <div class="search-form-container">
          <%= text_field_tag( :concept, nil, class:'middle-input registration-input', placeholder: 'Información de la UPS' )%>
          <%= submit_tag 'Buscar', class: 'search-button'  %>
        </div>
      <% end %>

      <div class="customers_with_ups_table_container">
        <%=render 'customers/customers_with_ups_table'%>
      </div>
    </div>
  </div>










  <!-- <h3 class="azul-oscuro section-title">Plantas por clientes: </h3>

  <table class="table ">
    <thead>
      <tr>
        <th scope="col"><span class="azul-oscuro">Clente</span></th>
        <th scope="col"><span class="azul-oscuro">Sede</span></th>
        <th scope="col"><span class="azul-oscuro">Marca</span></th>
        <th scope="col"><span class="azul-oscuro">Modelo</span></th>
        <th scope="col"><span class="azul-oscuro">Detalles</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th rowspan="8">Bancolombia 8</th>

        <td rowspan="4">Medellín 4</td>
        <tr>
          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>

          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>
        </tr>

        <td rowspan="4">Medellín 4</td>
        <tr>
          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>

          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>
        </tr>

      </tr>
      <tr>
        <th rowspan="5">Bancolombia 5</th>

        <td rowspan="5">Medellín 5</td>
        <tr>
          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>

          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>
          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>
        </tr>
      </tr>

      <tr>
        <th rowspan="3">Bancolombia 3</th>

        <td rowspan="3">Medellín 3</td>
        <tr>
          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>
        </tr>
      </tr>
      <tr>
        <th rowspan="8">Bancolombia 8</th>

        <td rowspan="4">Medellín 4</td>
        <tr>
          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>

          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>
        </tr>

        <td rowspan="4">Medellín 4</td>
        <tr>
          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>

          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>
        </tr>

      </tr>
      <tr>
        <th rowspan="18">Bancolombia 18</th>

        <td rowspan="3">Medellín 3</td>
        <tr>
          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>
        </tr>

        <td rowspan="4">Medellín 4</td>
        <tr>
          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>

          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>
        </tr>

        <td rowspan="5">Medellín 5</td>
        <tr>
          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>

          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>

          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>
        </tr>

        <td rowspan="6">Medellín 6</td>
        <tr>
          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>

          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>

          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>

          <tr>
            <td>Caterpilla</td>
            <td>js300</td>
            <td>dddd></td>
          </tr>
        </tr>

      </tr>
    </tbody>
  </table> -->

</div>
