<div class="headquarter-information">
  <div class="container headquarter-info-wrapper">
    <div class="employee-image-container">
      <%=image_tag 'icons/headquarter.png', class: 'profile-img' %>
    </div>
    <div class="headquarter-summary-container">
      <h4 class="azul-oscuro section-title"><strong><%=@headquarter.customer.username%> <br> <%=@headquarter.city%>, <%=@headquarter.direction%></strong></strong></h4>
      <h6 class="azul-oscuro"><strong> Código:</strong> <span class="azul-oscuro"><%=@headquarter.code%></span> </h6>
      <h6 class="azul-oscuro"><strong> Administrador:</strong> <span class="azul-oscuro"><%=@headquarter.admin%></span> </h6>
      <h6 class="azul-oscuro"><strong> Correo del dministrador:</strong> <span class="azul-oscuro"><%=@headquarter.admin_email%></span> </h6>
      <h6 class="azul-oscuro"><strong> Teléfono del administrador:</strong> <span class="azul-oscuro"><%=@headquarter.admin_phone%></span> </h6>
    </div>
  </div>
</div>

<div class="container">

  <h5 class="azul-oscuro section-title">Detalles de los equipos de <%=@headquarter.customer.username%> sede <%=@headquarter.city%>, <%=@headquarter.direction%>: </h5>

  <%equipments = equipments(@headquarter)%>
  <div class="equipments-wrapper-container">
    <%equipments.each do |equipment|%>
      <%if equipment.class == PowerPlant%>
        <div class="equipment-container">
          <div class="equipment-description">
            <%=image_tag 'icons/power_plant.png', class: 'equipment-icon'%>
            <div class="equipment-info">
              <%=equipment.trademark%> <%=equipment.model%> <br>
              <%= equipment.plate %> <br>
              <%= equipment.capacity%> KVA <br>
              Serial: <%= equipment.serial%> <br>
            </div>
          </div>
          <div class="equipment-buttons">
            <%= link_to "Visita de emergencia", customer_power_plant_path(equipment.customer.id, equipment.id), class: 'redirect-link'%>
            <%= link_to "Ver más", customer_power_plant_path(equipment.customer.id, equipment.id), class: 'redirect-link'%>
          </div>
        </div>
      <%elsif equipment.class == Up%>
        <div class="equipment-container">
          <div class="equipment-description">
            <%=image_tag 'icons/ups.png', class: 'equipment-icon'%>
            <div class="equipment-info">
              <%=equipment.trademark%> <%=equipment.model%> <br>
              <%= equipment.plate %> <br>
              <%= equipment.power%> KVA <br>
              Serial: <%= equipment.serial%> <br>
            </div>
          </div>
          <div class="equipment-buttons">
            <%= link_to "Visita de emergencia", customer_up_path(equipment.customer.id, equipment.id), class: 'redirect-link'%>
            <%= link_to "Ver más", customer_up_path(equipment.customer.id, equipment.id), class: 'redirect-link'%>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>



  <!-- <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Historial de visitas</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Plantas</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">UPSs</a>
      <a class="nav-item nav-link" id="nav-edit-tab" data-toggle="tab" href="#nav-edit" role="tab" aria-controls="nav-edit" aria-selected="false">Editar información</a>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <h5 class="azul-oscuro section-title">Historial de visitas: </h5>
    <div class="table-container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <h5 class="azul-oscuro section-title">Plantas por clientes: </h5>

    </div>

    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <h5 class="azul-oscuro section-title">UPSs por clientes: </h5>

    </div>

    <div class="tab-pane fade" id="nav-edit" role="tabpanel" aria-labelledby="nav-edit-tab">
      <h5 class="azul-oscuro section-title">Editar: </h5>

    </div>
  </div> -->
</div>
