<%=form_for @visit_request, url: customer_headquarter_visit_requests_path(@visit_request.headquarter.customer.id, @visit_request.headquarter.id ), remote:true do |f|%>
  <div class="modal-body">

    <%if @visit_request.errors.any?%>
      <div class="form-error-container">
        <%@visit_request.errors.each do |attribute, message|%>
          <p><%=message%></p>
        <%end%>
      </div>
    <%end%>

    <div class="modal-input-container">
      <%=f.label 'Concepto*'%>
      <%= f.select( :concept, VisitRequest.concepts.keys.to_a, {:selected => "Mantenimiento tipo2"}, {class:'registration-input middle-input'}) %> <br>
    </div>

    <div class="type2_visit_request_checkbox">
      <%= f.check_box :oil, {checked: true}%>
      <%= f.label "Cambio de aceite", for: 'visit_request_oil'%> <br>

      <%= f.check_box :oil_filter, {checked: true}%>
      <%= f.label "Cambio de filtro de aceite", for: 'visit_request_oil_filter'%> <br>

      <%= f.check_box :air_filter, {checked: true}%>
      <%= f.label "Cambio de filtro de aire", for: 'visit_request_air_filter'%> <br>

      <%= f.check_box :water_filter, {checked: true}%>
      <%= f.label "Cambio de filtro de agua", for: 'visit_request_water_filter'%> <br>

      <%= f.check_box :fuel_filter, {checked: true}%>
      <%= f.label "Cambio de filtro de combustible", for: 'visit_request_fuel_filter'%> <br>

      <%= f.check_box :fuel, {checked: true}%>
      <%= f.label "Combustible", for: 'visit_request_fuel'%> <br>

      <%= f.check_box :battery%>
      <%= f.label "Cambio de batería", for: 'visit_request_battery'%> <br>

      <%= f.check_box :coolant%>
      <%= f.label "Refrigerante", for: 'visit_request_coolant'%> <br>
    </div>

    <div class="modal-input-container">
      <%= f.label :requested_money, "Dinero solicitado*"%>
      <%= f.number_field :requested_money, autofocus: true, placeholder: "$ 100.000", class:'registration-input small-input' %> <br>
    </div>

    <div class="modal-input-container">
      <%= f.label :requested_supplies, "Insumos solicitados*"%>
      <%= f.text_area :requested_supplies, autofocus: true, placeholder: "Nombre del insumo - referencia", class:'registration-input middle-input' %>
    </div>

    <table class="table table-borderless">
      <thead>
        <tr scope="col" class="azul-oscuro">
          <th colspan="4" class="table-title">Plantas a visitar:</th>
        </tr>
        <tr class="azul-oscuro">
          <th scope="col">Check</th>
          <th scope="col">Placa</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <%= f.collection_check_boxes :power_plant_ids, @visit_request.headquarter.power_plants, :id, :trademark  do |c| %>
          <tr>
            <%= c.label do %>
              <th><%= c.check_box %></th>
              <td><%= c.object.plate %></td>
              <td><%= c.object.trademark %></td>
              <td><%= c.object.model %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <table class="table table-borderless">
      <thead>
        <tr scope="col" class="azul-oscuro">
          <th colspan="4" class="table-title">UPS a visitar:</th>
        </tr>
        <tr class="azul-oscuro">
          <th scope="col">Check</th>
          <th scope="col">Placa</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <%= f.collection_check_boxes :up_ids, @visit_request.headquarter.ups, :id, :trademark  do |c| %>
          <tr>
            <%= c.label do %>
              <th><%= c.check_box %></th>
              <td><%= c.object.plate %></td>
              <td><%= c.object.trademark %></td>
              <td><%= c.object.model %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>`
    </table>

    <div class="modal-input-container">
      <%= f.label :comment, "Comentarios adicionales*"%>
      <%= f.text_area :comment, autofocus: true, placeholder: "Deja tus comentarios", class:'registration-input middle-input' %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <%= f.submit "Solicitar visita", class: "sign-up-button" %>
  </div>
<%end%>
