<div class="summary-table">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><span class="azul-oscuro">Fecha</span></th>
        <th scope="col"><span class="azul-oscuro">Cliente</span></th>
        <th scope="col"><span class="azul-oscuro">Estado dineros</span></th>
        <th scope="col"><span class="azul-oscuro">Estado insumos</span></th>
        <th scope="col"><span class="azul-oscuro">Detalles</span></th>
        <th scope="col"><span class="azul-oscuro">Editar</span></th>
        <th scope="col"><span class="azul-oscuro">Asignar visita</span></th>
      </tr>
    </thead>
    <tbody>
      <%@visit_requests.each do |visit_request|%>
        <tr>
          <td ><%=visit_request.created_at.strftime("%m/%d/%Y")%></td>
          <td><%=visit_request.headquarter.customer.username%>, <%=visit_request.headquarter.city%> <%=visit_request.headquarter.direction%></td>
          <td><%=visit_request.money_state%></td>
          <td><%=visit_request.supplie_state%></td>
          <td><%=link_to "Ver", customer_headquarter_visit_request_path(visit_request.headquarter.customer.id,visit_request.headquarter.id,visit_request.id), remote: true%></td>
          <td><%=link_to "Editar", edit_customer_headquarter_visit_request_path(visit_request.headquarter.customer.id,visit_request.headquarter.id,visit_request.id), remote: true%></td>
          <td>Asignar visita</td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
