<!DOCTYPE html>
<html>
  <head>
    <title>EquitecApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-color">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <div class="logo-container">
            <%=image_tag "nav-bar/logo.png", class: 'logo-equitec'%>
          </div>
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

            <%if not(customer_signed_in? || employee_signed_in?)%>
              <li class="nav-item">
                <%=link_to "Empleados", new_employee_session_path, class: 'nav-link'%>
              </li>

              <li class="nav-item">
                <%=link_to "Clientes", new_customer_session_path, class: 'nav-link'%>
              </li>
            <%elsif customer_signed_in?%>
              <li class="nav-item">
                <%=link_to "Mi perfil", customer_path(current_customer), class: 'nav-link'%>
              </li>

              <li class="nav-item">
                <%=link_to "Cerrar sesión cliente", destroy_customer_session_path, method: :delete, class: 'nav-link'%>
              </li>
            <%elsif employee_signed_in?%>

              <%if current_employee.admin?%>
                <li class="nav-item">
                  <%=link_to "Nuevo empleado", new_employee_path, class: 'nav-link'%>
                </li>

                <li class="nav-item">
                  <%=link_to "Nuevo cliente", new_customer_path, class: 'nav-link'%>
                </li>
              <%end%>

              <li class="nav-item">
                <%=link_to "Mi perfil", employee_path(current_employee), class: 'nav-link'%>
              </li>

              <li class="nav-item">
                <%=link_to "cerrar sesión empleado", destroy_employee_session_path, method: :delete, class: 'nav-link'%>
              </li>
            <%end%>
          </ul>
          </div>
        </div>
      </nav>
      <div class="franja"></div>

      <div class="notices-alerts">
        <%= render 'layouts/notices-alerts'%>
      </div>

      <div class="container">
        <%= yield %>
      </div>

  </body>
</html>
